.og-badge-with-border-all-sizes {
	/* Fit any content, used for page loading */
	border-radius: 50%;
	border: 3px solid white;
	color: white;
	background: #24a4ee;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	padding: .25rem;
	margin: .25rem;
	/* If at edge of parent element, don't have box-shadow cut off. */
}

.og-loading-subtle {
	animation-name: full-spin;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.og-loading-default {
	animation-name: full-spin;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.og-page-loading-container {
	position: relative; /* Position within parent. */
	top: 0;
	left: 0;
	height: 100%;
	justify-content: center;
	display: flex;
	width: 100%;
	align-items: center;
	font-size: 2rem;
}

.og-page-loading-container.full-page {
	position: absolute;
}


.og-pre-render-loading-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.og-pre-render-loading-header {
	/*color: $og-background-mode;*/
}

@keyframes full-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
