@using TayFinitiv.Client.Services
@inject RestockService RestockService
<button class="btn btn-outline-danger" @onclick="OnResetClick" disabled="@awaitingResponse">Factory Reset ATM</button>
@code {

	[Parameter]
	public EventCallback OnFactoryReset { get; set; }

	private bool awaitingResponse;
	private void OnResetClick()
	{
		Reset();
	}

	private async void Reset()
	{
		awaitingResponse = true;
		await RestockService.FactoryReset();
		if(OnFactoryReset.HasDelegate)
		{
			await OnFactoryReset.InvokeAsync();
		}

		awaitingResponse = false;
		StateHasChanged();
	}
}
